In [1]:
import pandas as pd
ratings = pd.read_csv("datasets/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [67]:
movies = pd.read_csv("datasets/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [68]:
#Extrair o ano
movies["year"] = movies.title.str.extract("\((\d{4})\)")
movies.title = movies.title.str[:-7]
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [92]:
#Extrair o g√©nero do filme
#genres_df = pd.DataFrame(movies.genres.str.split('|', expand=True).values, columns=['1', '2', "3", "4", "5", "6", "7", "8", "9", "10"])
#genres_df

#movies[['1', '2', "3", "4", "5", "6", "7", "8", "9", "10"]] = pd.DataFrame(movies.genres.str.split("|", expand = True).values)
#movies = movies.drop(columns = "genres")
#movies.head()

movies_dummy = pd.DataFrame(movies)
#movies_dummy["genres_list"] = movies_dummy["genres_list"].astype(object)
#movies_dummy.at[:, "genres_list"] = movies.genres.str.split("|", expand = True).values
movies_dummy["genres_list"] = movies.genres.str.split("|", expand = True).values
movies_dummy["genres_list"]

movies.genres.str.split("|", expand = True).values

array([['Adventure', 'Animation', 'Children', ..., None, None, None],
       ['Adventure', 'Children', 'Fantasy', ..., None, None, None],
       ['Comedy', 'Romance', None, ..., None, None, None],
       ...,
       ['Drama', None, None, ..., None, None, None],
       ['Adventure', 'Drama', 'Horror', ..., None, None, None],
       ['Action', 'Crime', 'Drama', ..., None, None, None]], dtype=object)

In [4]:
tags = pd.read_csv("datasets/tags.csv")
tags.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [1]:
#movies_ratings = movies.merge(ratings, left_on = "movieId", right_on = "movieId", suffixes = ("_movies", "_ratings"))

In [ ]:
#movies_ratings = movies_ratings.drop(columns = "timestamp")
#movies_ratings.head()

In [5]:
links = pd.read_csv("datasets/links.csv")
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [6]:
genome_tags = pd.read_csv("datasets/genome-tags.csv")
print(genome_tags.head())
print(genome_tags.shape)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
(1128, 2)

In [42]:
genome_scores = pd.read_csv("datasets/genome-scores.csv")
genome_scores.loc[genome_scores.movieId == 1]
print(genome_scores.head())
df = genome_scores.loc[genome_scores.groupby("movieId")["relevance"].idxmax()]
df.loc[df.movieId == 1]

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425
3        1      4    0.06875
4        1      5    0.16000

      movieId  tagId  relevance
1035        1   1036     0.9995

# Informa√ß√£o sobre os dados:

* Os dataframes "movies", "tags", "ratings" e "genome_scores" est√£o todos ligados pelo atributo movieId
* H√° 1128 tags diferentes e est√£o todas identificadas por um id em "genome_tags"
* Todos os filmes possuem um indicador do qu√£o relevante √© uma tag para o mesmo em "genome_scores"
* Pode haver inconsist√™ncias nos anos dos filmes que aparecem ao lado do titulo em "movies"

# Pr√©-processamento:

* Retirar o ano do filme da coluna "title" e coloc√°-lo numa coluna √† parte (feito)
* Usar MultiLabelBinarizer para transformar os valores categoricos da coluna "genres" em valores num√©ricos
* Transformar timestamps de unix time para data
* O ficheiro dos links n√£o tem informa√ß√£o util para este trabalho
* Fazer um cut aleat√≥rio nos "movies" para reduzir o tamanho da popula√ß√£o para 10M

# EDA:

* Quantos filmes h√° de cada g√©nero?
* Como √© que o rating m√©dio dos filmes evolui ao longo dos anos?
* Quais as tags com mais relev√¢ncia de cada filme?
* etc.

In [ ]:
#Quantos filmes h√° de cada g√©nero:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

### Links:
[MultiLabelBinarizer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MultiLabelBinarizer.html)

[Como por em pratica](https://stackoverflow.com/questions/52189126/how-to-elegantly-one-hot-encode-a-series-of-lists-in-pandas)

[Paper](https://www.researchgate.net/profile/Susan_Gauch/publication/261199217_Personalized_News_Recommendation_Using_Twitter/links/5676d61a08aebcdda0e95590.pdf) sobre sistema hibrido de recomenda√ß√£o baseado em popularity e no perfil do utilizador (com avalia√ß√£o do algoritmo)

# Conclus√µes:

## Modelos a avaliar

* Popularity based
* Collaborative filter
    * User based
    * Item based
* Memory based

- Ensemble de dois modelos:
    * Popularity + User based